doctype html
html
    head
        title Водители
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")

    body
        div#black-bg
        include includes/driver-popup
        #hamburger
            .hamburger__line.hamburger__line--1
            .hamburger__line.hamburger__line--2
            .hamburger__line.hamburger__line--3

        div.form-group#full-menu
            label.custom-control.custom-checkbox
                input.custom-control-input(type="checkbox" name="" value="" id="full-menu-checkbox")
                span.custom-control-label
                    i(class="fe fe-chevron-right" data-original-title="fe fe-chevron-right")

        nav
            div.list-group
                h3 Заказы
                a.list-group-item.list-group-item-action.d-flex.align-items-center(href="new-orders.html")
                    span.icon.mr-3
                        i.fe.fe-bell
                    span.nav-text 
                        nobr Новые заявки
                    span.ml-auto.badge.badge-secondary.nav-badge 2
                a.list-group-item.list-group-item-action.d-flex.align-items-center(href="index.html")
                    span.icon.mr-3
                        i.fe.fe-check-circle
                    span.nav-text Опубликованные
                    span.ml-auto.badge.badge-secondary.nav-badge 1
                a.list-group-item.list-group-item-action.d-flex.align-items-center(href="process.html")
                    span.icon.mr-3
                        i.fe.fe-refresh-cw
                    span.nav-text 
                        nobr В работе
                    span.ml-auto.badge.badge-secondary.nav-badge 12
                a.list-group-item.list-group-item-action.d-flex.align-items-center(href="archive.html")
                    span.icon.mr-3
                        i.fe.fe-inbox
                    span.nav-text Архив
                    span.ml-auto.badge.badge-secondary.nav-badge 434
                a.list-group-item.list-group-item-action.d-flex.align-items-center.active(href="javascript:void(0);")
                    span.icon.mr-3
                        i.fe.fe-truck
                    span.nav-text Водители
                a.list-group-item.list-group-item-action.d-flex.align-items-center(href="clients.html")
                    span.icon.mr-3
                        i.fe.fe-users
                    span.nav-text Клиенты
                a.list-group-item.list-group-item-action.d-flex.align-items-center(href="settings.html")
                    span.icon.mr-3
                        i.fe.fe-settings
                    span.nav-text Настройки
                a.list-group-item.list-group-item-action.d-flex.align-items-center(href="javascript:void(0);")
                    span.icon.mr-3
                        i.fe.fe-log-out
                    span.nav-text Выход

        div.my-3.my-md-5
            div.container
                div.row.taxi-row
                    div.col-md-12.filters.row#app-sort-drivers
                        div.nav-actions
                            ul.nav.nav-tabs.border-0.flex-column.flex-lg-row
                                li.nav-item
                                    a.nav-link(href="#")
                                        i.fe.fe-user-plus
                                        | Новый водитель

                        div.form-group
                            input.form-control(type="text" name="name" placeholder="Имя" v-model="inputName")
                        div.form-group
                            input.form-control(type="text" name="phone" placeholder="Телефон" v-model="inputPhone" data-mask="8 (000) 000-00-00")
                        div.form-group
                            input.form-control.with-hidden#mark-input(type="text" name="mark" placeholder="Марка" v-model="inputMark")
                            //ul.suggestion-menu#suggestion-menu-mark
                                li.active Audi
                                li BMW
                                li Chevrolet
                                li Ford
                                li Kia
                                li Nissan
                                li Renault
                                li Toyota
                        div.form-group
                            input.form-control.with-hidden#model-input(type="text" name="model" placeholder="Модель" v-model="inputModel")
                            ul.suggestion-menu#suggestion-menu-model
                                li.active Aveo
                                li Rio
                                li Picanto
                        div.form-group
                            input.form-control(type="text" name="number" placeholder="Гос. номер" v-model="inputNumber")
                        button#clear.btn.btn-primary Сбросить
                        
                        div.card.card--orders
                            div.table-responsive
                                div#DataTables_Table_0_wrapper.dataTables_wrapper.no-footer
                                    table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
                                        thead
                                            th(@click="sortRow('name')") Имя
                                            th(@click="sortRow('phone')") Телефон
                                            th(@click="sortRow('mark')") Марка
                                            th(@click="sortRow('model')") Модель
                                            th(@click="sortRow('number')") Гос. номер
                                            th(@click="sortRow('done')") Выполненных
                                            th(@click="sortRow('inwork')") В работе
                                            th(@click="sortRow('disruptions')") Срывов
                                            th(@click="sortRow('cancelled')") Отмен.
                                            th(@click="sortRow('late')") Опозд.
                                            th(@click="sortRow('reviews')") Отз.
                                            th(@click="sortRow('refuse')") Отказы
                                        tbody
                                            tr(v-for="item in sortedData | filterBy inputName in 'name' | filterBy inputPhone in 'phone' | filterBy inputMark in 'mark' | filterBy inputModel in 'model' | filterBy inputNumber in 'number'")
                                                td
                                                    | {{item.name}}
                                                td
                                                    span.phone.phone--drivers(onclick="popupDrivers()")
                                                        | {{item.phone}}
                                                td
                                                    | {{item.mark}}
                                                td
                                                    | {{item.model}}
                                                td
                                                    | {{item.number}}
                                                td
                                                    | {{item.done}}
                                                td
                                                    | {{item.inwork}}
                                                td
                                                    | {{item.disruptions}}
                                                td
                                                    | {{item.cancelled}}
                                                td
                                                    | {{item.late}}
                                                td
                                                    | {{item.reviews}}
                                                td
                                                    | {{item.refuse}}
                                                
                                    div.dataTables_info#DataTables_Table_0_info(role="status" aria-live="polite")
                                        div.form-group
                                            select.form-control.custom-select#rowsperpage
                                                option(value="/?rowsperpage=10") по 10 записей
                                                option(value="/?rowsperpage=50") по 50 записей
                                                option(value="/?rowsperpage=100") по 100 записей
                                            

       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js")
        script(src="assets/js/app.min.js")
        script
            include ../js/popups.js