$black: rgba(0, 0, 0, 100);
$dark: rgba(31, 31, 31, 100);
$light-gray: rgba(223, 229, 231, 100);
$orange: rgba(255, 80, 32, 100);
$white: rgba(255, 255, 255, 100);
$GPR: GothamProRegular, sans-serif;
$GPM: GothamProMedium, sans-serif;

$blueBG: rgba(245, 247, 251, 1);
$feather: 'feather', sans-serif;