div.popup.popup--add-driver
    div.close-add-driver
        div.close-form__line.close-form__line--1
        div.close-form__line.close-form__line--2

    h3 Новый водитель
    div.row
        div.col-md-12
            div.form-group
                label.form-label(for="new-driver-phone") Телефон
                input.form-control(id="new-driver-phone" type="text" value="")
        div.col-md-12
            div.form-group
                label.form-label(for="new-driver-name") Имя
                input.form-control(id="new-driver-name" type="text" value="")
        div.col-md-12
            div.form-group
                label.form-label(for="new-driver-mark") Марка
                input.form-control(id="new-driver-mark" type="text" value="")
        div.col-md-12
            div.form-group
                label.form-label(for="new-driver-model") Модель
                input.form-control(id="new-driver-model" type="text" value="")
        div.col-md-12
            div.form-group
                label.form-label(for="new-driver-number") Гос. номер
                input.form-control(id="new-driver-number" type="text" value="")
        div.col-md-12
            button.btn.btn-primary.btn-block(type="submit") Добавить