div.popup.popup--assign-driver
    div.close-form
        div.close-form__line.close-form__line--1
        div.close-form__line.close-form__line--2

    h3 Назначить водителя
    //div.row
        div.col-md-6
            div.form-group
                div.input-icon.mb-3
                    input(type="text" class="form-control" placeholder="Поиск...")
                    span.input-icon-addon
                        i.fe.fe-search
        div.col-md-6
            div.d-flex
                button.btn.btn-outline-primary.add-driver(type="submit")
                    i.fe.fe-plus.mr-2
                    | Новый водитель



    div.row#app-sort-assign-drivers
        div.col-md-6
            div.form-group
                input.form-control#assign-drivers-input(type="text" name="phone" placeholder="Телефон" v-model="inputPhone" data-mask="8 (000) 000-00-00")
        div.col-md-6
            div.d-flex
                button.btn.btn-outline-primary.add-driver(type="submit" onclick="popupAddDriver();")
                    i.fe.fe-plus.mr-2
                    | Новый водитель
        div.col-md-12
            div.table-responsive
                div#DataTables_Table_0_wrapper.dataTables_wrapper.no-footer
                    table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
                        thead
                            th(@click="sortRow('name')") Имя
                            th(@click="sortRow('phone')") Телефон
                            th(@click="sortRow('model')") Модель
                            th(@click="sortRow('mark')") Марка
                            th(@click="sortRow('number')") Гос. номер
                            th(@click="sortRow('done')") Выполненных
                            th(@click="sortRow('inwork')") В работе
                            th(@click="sortRow('disruptions')") Срывов
                            th(@click="sortRow('cancelled')") Отмен.
                            th
                            //th(@click="sortRow('late')") Опозд.
                            //th(@click="sortRow('reviews')") Отз.
                            //th(@click="sortRow('refuse')") Отказы
                        tbody
                            tr(v-for="item in sortedData | filterBy inputName in 'name' | filterBy inputPhone in 'phone' | filterBy inputMark in 'mark' | filterBy inputModel in 'model' | filterBy inputNumber in 'number'")
                                td
                                    | {{item.name}}
                                td
                                    span.phone.phone--drivers(onclick="popupDrivers();")
                                        | {{item.phone}}
                                td
                                    | {{item.model}}
                                td
                                    | {{item.mark}}
                                td
                                    | {{item.number}}
                                td
                                    | {{item.done}}
                                td
                                    | {{item.inwork}}
                                td
                                    | {{item.disruptions}}
                                td
                                    | {{item.cancelled}}
                                td 
                                    button.btn.btn-secondary.ml-auto(type="submit") Назначить
