div.comment
    div.container
        div.row
            div.col-md-12(data-animation="fadeIn" data-animation-delay="150ms") 
                h2 My solution and steps
        div.row
            div.col-md-3(data-animation="fadeIn" data-animation-delay="300ms")
                div.comment__block
                    div.comment__number 01
                    p 
                        | Choosing product or service. I had the&nbsp;following options: 
                        | taxi, real estate, web service or startup — website constructor, 
                        | hosting, CRM, etc. I have chosen hosting theme.

            div.col-md-3(data-animation="fadeIn" data-animation-delay="450ms")
                div.comment__block
                    div.comment__number 02
                    p 
                        | Studying  references on dribbble. 
                        | Requests are: «tariff», «card», «pricing». 
                        | Watching how tariff-block is made on Tilda, 
                        | Megaplan, Chatra, Miro, Invision, etc.

            div.col-md-3(data-animation="fadeIn" data-animation-delay="600ms")
                div.comment__block
                    div.comment__number 03
                    p 
                        | I understand that the task is wider 
                        | and it is&nbsp;necessary to provide the design 
                        | of the comparison table for a&nbsp;large number 
                        | of&nbsp;parameters.

            div.col-md-3(data-animation="fadeIn" data-animation-delay="750ms")
                div.comment__block
                    div.comment__number 04
                    p 
                        | Preparing content.


        div.row
            div.col-md-3(data-animation="fadeIn" data-animation-delay="900ms")
                div.comment__block
                    div.comment__number 05
                    p 
                        | Choosing color scheme and fonts.

            div.col-md-3(data-animation="fadeIn" data-animation-delay="1050ms")
                div.comment__block
                    div.comment__number 06
                    p 
                        | Making mockup in Figma.

            div.col-md-3(data-animation="fadeIn" data-animation-delay="1200ms")
                div.comment__block
                    div.comment__number 07
                    p 
                        | Converting mockup to html, css and js.        