div.popup.popup--question
    div.close-form
        div.close-form__line.close-form__line--1
        div.close-form__line.close-form__line--2

    h3 Причина смены водителя
    div.row
        div.col-md-6
            div.form-group
                select.form-control.custom-select#reason
                    option(value="1") Водитель отказался
                    option(value="2") Изменилось время
                    option(value="3") Клиент отказался
                    option(value="4") Водитель опаздывает
        div.col-md-6
            button.btn.btn-primary Ок